<nav class="navbar navbar-expand-lg my-navbar">

  <div class="d-flex align-items-center w-100 justify-content-between">

    <!-- LEFT SIDE -->
    <div class="d-flex align-items-center">
      <a class="navbar-brand mr-4" href="#">RaniaGis</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" 
              data-target="#navbarNav" aria-controls="navbarNav" 
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About my project 👩‍🎓</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="scrollToAuthor()">About me</a>
          </li>
        </ul>
      </div>
    </div>

    <!-- RIGHT LOGOS -->
    <div class="d-flex align-items-center navbar-logos">
<img src="fac.png" class="nav-logo" alt="logo 1" />
      <img src="wolologo.png" class="nav-logo" alt="logo 2" />
    </div>

  </div>

</nav>

      
